.sort{
    color: #004065;
    text-decoration: underline;
    cursor: pointer;
}

.site-row {
    /*background: yellow;*/
    cursor: pointer;
   /*display: table;*/
}

.site-row:hover > div {
    background: #0073AA;
    color: #fff;
    cursor: pointer;
}

.site-row.expanded > div {
    background: #0073AA;
    color: #fff;
    cursor: pointer;
}

.site-div{
    padding-top: 15px;
    min-height: 40px;
    display: table-cell;
    height: auto;
}

.form-wrapper {
    margin-left: 5%;
    margin-right: 5%;
}

.form-group {
    display: inline-block;
    margin-bottom: 0px !important;
}

.col-sm-9 {
    padding-right: 10px !important;
    padding-left: 0px !important;
}

.ajax {
    max-width:1200px;
    margin-left: auto;
    margin-right: auto;
}

.chef-text {
    padding-top: 0px !important;
}

input#submit, input#reset {
    margin: 10px !important;
    padding: 5px !important;
    width: 100% !important;
}

.select2 {
    width: 215px !important;
}

table, th, td {
   border: 1px solid black !important;
   background: #fff !important;
}

.pagination-extra{
    max-width:450px;
    margin-left: auto;
    margin-right: auto;
}

select:focus{
    position: fixed !important;
    outline:none;
    border:none;
    box-shadow:none
 }
