.sort{
    color: #004065;
    text-decoration: underline;
    cursor: pointer;
}

.site-row {
    background: yellow;
    cursor: pointer;
}

.site-row:hover > div {
    background: yellow;
    cursor: pointer;
}

.form-wrapper {
    margin-left: 5%;
    margin-right: 5%;
}

.form-group {
    display: inline-block;
}
